body{
    font-size: 100%;
}
.cabecalho-menu{
    display:none
}
.mobile-menu{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    
}
.cabecalho-imagem{
    height: 14px;
}
.hamburguer{
    border-top: 2px solid;
    width: 20px;
    color: #FFF2E7;

}
.hamburguer::after, .hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
}
.skills-foto{
    height: 90px;
}
.sobre-tudo{
    display: flex;
    flex-direction: column;
}
.contato-container{
    width: 100%;
}
.contato-links{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.conteudo-principal-escrito-cargo{
    font-family: 'Sarala', sans-serif;
    color: #03989E;
    font-size: 19px;
}
.conteudo-principal-escrito-titulo{
    color: #FFF2E7;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}
.conteudo-principal-escrito-subtitulo{
    color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
    font-size: 15px;
    max-width: 800px
}
.conteudo-principal-escrito-botao{
    font-size: 19px;
}
.sobre-direito{
    font-size: 9px;
}
.conteudo-principal-imagem{
    height: 17em;
}
.contato-links-escrito{
    padding-left: 10px;
    color: #FFF2E7;
    font-size: 11px;
}
