@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Righteous&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #0E1D25;
}
.cabecalho{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.cabecalho-container{
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho-imagem{
    height: 26px;
}
.cabecalho-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-size: 1.1em;
}
.cabecalho-menu-item:hover{
    border-bottom: 0.2px solid #03989E;

}
.cabecalho-imagem-logo-git, .cabecalho-imagem-logo-linkedin{
    height: 37px;
}
.logo{
    display: flex;
    gap: 15px;
}
.conteudo{
    width: 100%;
    border-top: 0.4px solid #FFF2E7; 
}
.conteudo-container{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.conteudo-principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.conteudo-principal-escrito-cargo{
    font-family: 'Sarala', sans-serif;
    color: #03989E;
    font-size: 24px;
}
.conteudo-principal-escrito-titulo{
    color: #FFF2E7;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}
.conteudo-principal-escrito-subtitulo{
    color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    max-width: 800px
}
.conteudo-principal-escrito-botao{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0E1D25;
    width: 200px;
    height: 60px;
    border: 1px solid #03989E;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color: #03989E;
    font-size: 24px;
    margin-top: 15px;
}
.conteudo-principal-escrito-botao:hover{
    background-color: #ECD6C4;
    color: black;
}
.skills{
    width: 100%;
}
.skills-container{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skills-titulo{
    
    border-top: 0.4px solid #FFF2E7 ;
    padding-top: 12px;
    font-family: 'Righteous', cursive;
    font-weight: 400px;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 36px;
    
}
.skills-imagem-container{
    display: inline-block;
}
.skills-foto{
    height: 110px;
    margin: 20px;
}
.sobre{
    width: 100%;
    margin-top: 80px;
}
.sobre-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobre-titulo{
    border-top: 0.4px solid #FFF2E7 ;
    padding-top: 12px;
    font-family: 'Righteous', cursive;
    font-weight: 400px;
    font-size: 20px;
    color: #FFF2E7;
    margin-bottom: 36px;
}
.sobre-tudo{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 50px;
}
.sobre-direito{
    color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
    font-size: 12px;
}
.contato{
    width: 100%;
    margin-top: 80px;
}
.contato-container{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.contato-titulo{

    border-top: 0.4px solid #FFF2E7;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    color: #FFF2E7;
    padding-top: 12px;
    margin-bottom: 20px;
}
.contato-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    color: #FFF2E7;
}
.contato-links-item{
    display: flex;
    align-items: center;
}
.contato-links-escrito{
    padding-left: 10px;
    color: #FFF2E7;
    font-size: 16px;
}
.rodape{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 10px;
    border-bottom: 4px solid #03989E;
}
.rodape-marca{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-family: 'Sarala', sans-serif;
    font-size: 15px;
    color: #FFF2E7;
}